<footer class="bg-lightPurple mt-32 text-white py-6 text-center">
    <nav class="justify-between py-7 text-center">
        {{ craft.navigation.render('footer', {
            ulClass: 'flex mx-auto text-center',
            liClass: 'text-sm mr-6',
            aClass: 'block lg:inline-block text-white hover:text-black',
            activeClass: 'nav-active'
        }) }}
    </nav>
    <p class="text-xs italic">Made in the USA. Curated with CraftCMS. Created by <a href="https://zachis.it" title="zach is it">zachis.it</a>.</p>
</footer>