<footer class="bg-lightPurple mt-32 text-white py-6 text-center">
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        {{ craft.navigation.render('footer', {
            ulClass: 'w-auto block flex-grow lg:flex lg:items-center',
            liClass: 'text-sm lg:flex-grow',
            aClass: 'block lg:inline-block text-white hover:text-black',
            activeClass: 'nav-active'
        }) }}
    </nav>
    <p class="text-xs italic">Made in the USA. Curated with CraftCMS. Created by <a href="https://zachis.it" title="zach is it">zachis.it</a>.</p>
</footer>