<header class="bg-darkPurple">
    <div class="container mx-auto py-6">
        <div class="logo inline-block w-40 relative">
            <a href="{{ siteUrl }}" title="{{ siteName }} Home">
                <img class="w-8 inline-block" src="https://shelterwiz.com/wp-content/themes/shelter-wiz-twentynineteen/images/logo.png" alt="Logo">
                <span class="text-white lg:text-2xl inline-block font-semibold object-bottom absolute">ShelterWiz</span>
            </a>
        </div>
        <nav class="items-center justify-between flex-wrap w-2/5 inline-block float-right mt-3">
            {{ craft.navigation.render('mainNav', {
                ulClass: 'w-full block flex-grow lg:flex lg:items-center lg:w-auto',
                liClass: 'text-sm lg:flex-grow inline-block',
                aClass: 'inline-block lg:inline-block lg:mt-0 uppercase text-white hover:text-lightBlue',
                activeClass: 'nav-active'
            }) }}
        </nav>
    </div>
</header>