<header class="bg-darkPurple w-full">
    <div class="logo inline-block">
        logo here
    </div>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6 w-2/5 inline-block float-right">
        {{ craft.navigation.render('mainNav', {
            ulClass: 'w-full block flex-grow lg:flex lg:items-center lg:w-auto',
            liClass: 'text-sm lg:flex-grow',
            aClass: 'block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4',
            activeClass: 'nav-active'
        }) }}
    </nav>
</header>