{% if block.columnInformation %}
    <div class="grid grid-cols-{{ block.columnInformation|length }} gap-8">
        {% for col in block.columnInformation %}
            <div class="flex-1 text-center">
                <h3 class="text-2xl mb-3">{{ col.heading }}</h3>
                <p class="mb-4">{{ col.description }}</p>
                {{ col.cta|raw }}
            </div>
        {% endfor %}
    </div>
{% endif %}