{% if block.columnInformation %}
    <div class="flex w-full">
        {% for col in block.columnInformation %}
            <div class="flex-1">
                <h3 class="xlr mb-3">{{ col.heading }}</h3>
                <p>{{ col.description }}</p>
                {{ col.cta }}
            </div>



        {% endfor %}
    </div>

{% endif %}