<div class="mt-15 mx-auto border-b-2 border-gray-100 pb-10 mb-15 w-2/3 phone:w-auto">
    <h3 class="text-2xl text-center leading-loose font-thin phone:text-lg phone:leading-normal">{{ block.headingCopy }}</h3>
</div>