{% if block.pricingTable %}
    <div class="w-2/3 mx-auto my-24 phone:w-auto">
        <table class="w-full">
            <thead>
            <tr>
                <th class="w-3/4">Feature</th>
                <th class="w-1/4">Included?</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in block.pricingTable %}
                <tr class="border-solid border-2 border-gray-200 {{ loop.index0 is odd ? '' : 'bg-gray-100' }}">
                    <td class="p-2">{{ entry.entryName }}</td>
                    <td class="p-2 text-center">checkmark</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}