{#-- Extend base layout --#}
{% extends "_layouts/_base" %}

{#-- Set class on html element --#}
{% set htmlClass = "" %}

{#-- Set class on body element --#}
{% set bodyClass = "" %}

{#-- Set body layout on html element --#}
{% block body %}

    <div id="page-container">

        {# -- Main Header/Nav -- #}
        {% include "_partials/_header.twig" %}

        {% for block in entry.homeHero %}
            {% include '_home/'~block.type %}
        {% endfor %}
        <div id="content-container" class="container w-4/5 mx-auto">

            <main>

                {# -- Primary content block -- #}
                {% block content %}
                    {% for block in entry.contentBlock %}
                        {% include '_contentBlock/'~block.type %}
                    {% endfor %}
                {% endblock %}

            </main>

        </div>

        {# -- Footer -- #}
        {% include "_partials/_footer.twig" %}

    </div>

{% endblock %}